Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
email_validator
flask-wtf
pymysql
Flask-Limiter
python-dotenv
flask-limiter[redis]
mysqlclient
flask_mysqldb
beautifulsoup4

autogen
autogen-agentchat
autogen-ext
autogen-ext[openai]
chromadb
sentence_transformers

nltk
PyPDF2