Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
email_validator
flask-wtf
pymysql
Flask-Limiter
python-dotenv
flask-limiter[redis]
mysqlclient
beautifulsoup4

autogen-agentchat
autogen-ext
autogen-ext[openai]

langchain
langchain_community
langchain-text-splitters
langchain-tavily
# dockduckgo_search
ddgs
langchain[openai]
langchain[google-genai]
langgraph
PyPDF2